<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cascuer</title>
    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/carousel.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="navbar-wrapper">
        <div class="container">

            <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="~/Home/Index">Cascuer</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li><a href="~/Cart/Index" style="margin-left:740px;">Cart</a></li>
                            @*<li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>*@
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    @RenderBody()
    
    <footer>
        <div id="right">
            <a href="https://www.facebook.com/jmre.mcga.1"><img width="30" height="30" src="http://img.fenixzone.net/i/mkaArCU.png" alt="Facebook" /></a>
            <a href="https://plus.google.com/u/0/109386862733576779155"><img width="30" height="30" src="http://img.fenixzone.net/i/woYqvbK.png" alt="Google Plus" /></a>
            <a href="#"><img width="30" height="30" src="http://img.fenixzone.net/i/3JIknCr.png" alt="Instagram" /></a>
            <a href="#"><img width="30" height="30" src="http://img.fenixzone.net/i/eTMs38g.png" alt="LinkedIn" /></a>
            <a href="https://twitter.com/jmremcga"><img width="30" height="30" src="http://img.fenixzone.net/i/7qF6NA0.png" alt="Twitter" /></a>
            <a href="https://www.youtube.com/channel/UC-vKowth-09zkr0-gwxFyQg?view_as=subscriber"><img width="30" height="30" src="http://img.fenixzone.net/i/7Or8yND.png" alt="YouTube" /></a>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="@Url.Content("~/js/bootstrap.js")"></script>
</body>
</html>